body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.8rem;
}

.container{
    max-width: 650px;
    margin: 0 auto;
}

.header {
  width: 100%;
  color: #fff;
  padding: 3px 10px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  background-color: tomato;
}

.header--sensor-visible {
  background-color: green !important;
}